<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>이름</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${members}">  <!--th:each는 thymeleaf의 반복문과 같은 것.-->
                <td th:text="${member.id}"></td>  <!--자바 프로퍼티 방식의 접근 / getter, setter를 통해 id와 name에 접근-->
                <td th:text="${member.name}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>